Source: sems-yeti
Maintainer: yeti team <dev@yeti-switch.org>
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), build-essential, devscripts, libhiredis-dev, libsems1-dev (>= 1.97.0), sems-modules-base, sems-dev-utils

Package: sems-modules-yeti
Section: net
Architecture: amd64
Depends: sems, sems-modules-base, ${shlibs:Depends}, ${misc:Depends}
Description: YETI SBC application module for SEMS
	YETI is an open source project based on SBC module of SEMS.
	The main goal is to move routing logic and entire softswitch behaviour to a separated layer.
	This approach provides flexibility, ability to quickly add a non-trivial features and simply integrate it with other systems.
	It is possible to completely change the business logic by changing only the management layer component.
