#!/usr/bin/make -f

#export DH_VERBOSE=1

BUILD_DIR=build
DEB_BUILD_OPTIONS:=$(DEB_BUILD_OPTIONS) reproducible=-fixfilepath

dh_args=--buildsystem=cmake+ninja --builddirectory=$(BUILD_DIR) --parallel
%:
	dh $@ $(dh_args)

#override_dh_shlibdeps:
#	@echo "skip shlibdeps"

#override_dh_strip:
#	#do not strip binaries
